/* Pallette
    red
    #ae2334
    #e83b3b

    green
    #0b5e65
    #313638

    blue
    #323353
    #484a77

    greyscale
    #3e3546
    #625565
    #c7dcd0
 */

body,html{
    background-color: #c7dcd0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233e3546' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: monospace;
}


/* Header */
header{
    display: flex;
    
    border-radius: 3px;
    border-bottom: 5px solid #ae2334;
}
img#iconImage{
    max-height: 125px;
}
section#title{
    background-color: #323353;
    color: #c7dcd0;
    border: 4px solid #ae2334;
    border-radius: 5px;
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 10px;

    letter-spacing: 1em;

    align-items: center;
}
label#searchlabel{
    font-size: 1em;
}
p#www, p#net{
    font-size: 2em;
}
p#ARNGREN{
    font-size: 3em;
    text-decoration: underline;
}
form#search, div#navigation{
    align-self: center;
    margin-left: auto;
}
a#acceuil, a#contact{
    padding: 10px;
    padding-bottom: 13px;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.5em;
    align-self: center;

    color: #625565;
}
div#titlepresentation, div#navbar{
    display: flex;
    flex-direction: row;
}
div#navigation{
    margin: auto;
}

/* Contenu ------------ */
/* list left */
section#content{
    display: flex;
}
div#itemlist{
    display: flex;
    border-right: 3px solid crimson;
    padding-right: 20px;
    background-color: #c7dcd0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233e3546' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
li#listel1, li#listel2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid #3e3546;
    border-radius: 3px;
    background-color: #c7dcd0;

    font-size: 1.25em;
}
ul{
    list-style-type: none;
}

/* Grid */
div#itemgrid{
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #c7dcd0;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%233e3546' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
img#prodImg{
    max-height: 150px;
    border: 4px solid #c7dcd0;
    box-shadow: 2px 2px 2px #3e3546;
}
div#gridelement{
    margin: 10px;
    padding: 10px;
    background-color: #c7dcd0;
    box-shadow: 2px 2px 2px 2px #625565;
    border: 2px solid #3e3546;
    border-radius: 3px;
}
p#producttitle{
    font-size: 1.25em;
}

/* Mobile */
@media screen and (max-width: 840px) {
    section#title{
        margin-left: 10px;
        margin-right: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;

        letter-spacing: normal;
    }
    div#itemlist{
        display: none;
    }
}

@media  screen and (max-width: 1300px){
    header{
        display: block;
        padding-bottom: 20px;
    }
}